.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Style for images inside .container */
.container img {
    max-width: 250px;
    align-self: center;
    background-color: var(--project-card-bg);
    border-radius: 20px;
}

/* Style for links inside .container */
.container a {
    width: fit-content;
    text-decoration: none;
    color: #222;
    transition: transform 200ms ease-in-out;
}

.container a:hover {
    transform: scale(1.1);
}

/* Style for .ProjectsContainer */
.ProjectsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

/* Media Query Fix */
@media (min-width: 800px) { /* Fixed the incorrect media query syntax */
    .ProjectsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 30px;
    }
}

