/* Projects Section Container */



.ProjectsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
}

@media (min-width: 800px) {
    .ProjectsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    .ProjectsContainer {
        justify-content: space-evenly;
        gap: 40px;
    }
}
