@tailwind base;
@tailwind components;
@tailwind utilities;
.hover\:neon-effect:hover {
    box-shadow: 0 0 10px #fff, 0 0 20px #e600ff, 0 0 30px #e600ff;
  }
  .hero-section {
    background: linear-gradient(135deg, #ffdb15, #ffcd00); /* gradient background */
  }
  
  .text-section {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(-20px); /* slide up effect */
    opacity: 0;
  }
  
  .image-section {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1); /* zoom in effect */
  }
  
  @media (min-width: 768px) {
    .text-section {
      transform: translateY(0); /* reset slide up on large screens */
      opacity: 1; /* fade in on large screens */
    }
    .image-section {
      transform: scale(1); /* reset zoom on large screens */
    }
  }
  
  .animate-slide-up {
    animation: slide-up 1.5s ease-in-out forwards;
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  